<div class="header">
  <div class="logo">
    <a href="/"
      ><img src="/src/assets/frame-9.svg" alt="logo" width="219" height="56"
    /></a>
  </div>
  <div class="nav">
    <ul class="nav-list">
      <li class="nav-li"><a href="/about">About us</a></li>
      <li class="nav-li"><a href="/services">Services</a></li>
      <li class="nav-li"><a href="/useCases">Use Cases</a></li>
      <li class="nav-li"><a href="/pricing">Pricing</a></li>
      <li class="nav-li"><a href="/blog">Blog</a></li>
    </ul>
    <button class="btn-white">Request a quote</button>
  </div>
</div>
