<div class="container">
  <div class="left">
    <h1 class="tilte">Navigating the digital landscape for success</h1>
    <p class="text">
      Our digital marketing agency empowers businesses to grow and thrive online
      with services like SEO, PPC, social media marketing, and content creation
    </p>
    <button class="black-btn">Book a consultation</button>
  </div>
  <div class="right">
    <img
      src="/src/assets/illustration.svg"
      alt="illustration"
      class="hero-img"
    />
  </div>
</div>
